#title {
    font-weight: 400;
    font-weight: bold;
    font-style: normal;
    font-family: "Outfit", sans-serif;
    color:rgb(53, 53, 52);
    background-color: #bbbbbb;
    text-align: center;
  }
#author {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr{
    width: 500px;
    border-color: #353535;
}



body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
    background-image: url(3274412.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#board{
    width: 345px;
    height: 480px;
    background-color: rgb(226, 226, 226);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#tiletable {
    width: 100%;
    height: 100%;
    background-color: green;
    font-size: 50px; /* Reduced from 70px to fit better */
    border-collapse: collapse; /* This removes space between cells */
}

#tiletable th {
    border: 5px solid black;
    width: 60px;
    height: 60px;
    padding: 0;
    box-sizing: border-box;
}
.tile {
    border: 2px solid rgb(78, 78, 78);
    width: 60px;
    height: 60px;
    margin: 2.5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    vertical-align: middle;
    font-family: "Outfit", sans-serif;
}

.correct {
    background-color: #6aaa64;
    color: white;
    border-color: white;
}

.present {
    background-color: #c9b458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787c7e;
    color: white;
    border-color: white;
}

#keyboard {
    margin: 1rem 0;
    user-select: none;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0.5rem 0;
}

.keyboard-button {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0 0.25rem;
    cursor: pointer;
    text-transform: uppercase;
    width: 80px;
    height: 60px;
    background: #b4b4b4;
    font-family: "Outfit", sans-serif;
}

#hint{
    font-size: 30px;
    font-family: "Outfit", sans-serif;
    background: rgb(53, 53, 53);
    color: rgb(243, 243, 243);
    letter-spacing: 2.5px;
}


